/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(50, 72, 89);
}

a {
  color: rgb(50, 72, 89);
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.clean-list {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
}

/* header */
.header li {
  display: inline;
}

.nav-bar-option {
  padding: 30px 0;
  border-bottom: 2px solid rgb(50, 72, 89);
  background-color: rgb(244, 249, 253);
}

.nav-bar-option .col-left {
  width: 50%;
}

.nav-bar-option .col-right {
  width: 50%;
  text-align: right;
}

/* main */
/* empty */

/* footer */
/* empty */
