/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(50, 72, 89);
}

p {
  line-height: 30px;
}

a {
  display: inline-block;
  padding: 0 15px;
  color: rgb(50, 72, 89);
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.clean-list {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
}

.button {
  background-color: rgb(251, 119, 95);
  margin: 0 15px;
  padding: 10px;
  border: 2px solid rgb(251, 119, 95);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

/* header */
.header li {
  display: inline-block;
}

.nav-bar-option,
.nav-bar-menu {
  padding: 20px 0;
}

/* nav-bar-option */
.nav-bar-option {
  border-bottom: 2px solid rgb(50, 72, 89);
  background-color: rgb(244, 249, 253);
}

.nav-bar-option .col-left {
  width: 50%;
  height: 47px;
  line-height: 47px;
}

.nar-bar-option .col-left ul {
  vertical-align: middle;
}

.nav-bar-option .col-left li:first-child {
  border-right: 2px solid rgb(50, 72, 89);
}

.nav-bar-option .col-left .clean-list li:first-child a {
  padding: 0 15px 0 0;
}

.nav-bar-option .col-right {
  width: 50%;
  text-align: right;
}

.nav-bar-option .col-right i:first-child {
  color: rgb(26, 166, 188);
}

.nav-bar-option .col-right .clean-list li:last-child a {
  margin: 0 0 0 15px;
}

.login {
  color: rgb(251, 119, 95);
  background-color: rgb(255, 255, 255);
}

.logo {
  height: 45px;
}

/* nav-bar-menu */
.nav-bar-menu .col-left {
  width: 30%;
}

.nav-bar-menu .col-right {
  width: 60%;
  height: 47px;
  text-align: right;
  line-height: 47px;
}

.nar-bar-menu .col-right ul {
  vertical-align: middle;
}

.nav-bar-menu .col-right .clean-list li:last-child a {
  padding: 0 0 0 15px;
}

/* main */
/* jumbotron */
.jumbotron {
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.jumbotron .container {
  height: 600px;
}

.jumbotron-text {
  width: 40%;
  padding: 40px 0 0 0;
}

.jumbotron-text > h1 {
  font-size: 40px;
}

.jumbotron-text > p {
  padding: 20px 0 0 0;
}

.jumbotron-text > div {
  padding: 20px 0 0 0;
}

.jumbotron-text > div > .button {
  margin: 0;
}

.jumbotron-text > div > span {
  display: block;
  padding: 20px 0 0 0;
  font-size: 12px;
}

/* powerful */
.powerful {
  padding: 40px 0 40px 0;
  background-color: rgb(244, 249, 253);
  text-align: center;
}

.powerful > .container {
  width: 60%;
}

.powerful img {
  height: 200px;
}

.powerful h2 {
  font-size: 32px;
}

.powerful p {
  padding: 20px 0 0 0;
}

/* features */
.features {
  padding: 40px 0 40px 0;
  background-color: rgb(244, 249, 253);
  text-align: center;
}

.features > .container {
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.features-fill,
.features-three {
  width: 60%;
}

/* footer */
/* empty */
